.body {
  background: $main-background;
}

.main {
  background: $card-background;

  &__header {
    color: $font-color-heading;
    font-family: "header-font", Arial, Helvetica, sans-serif;

    &-color {
      color: $violet;
    }
  }

  &__paragraph {
    color: $font-color-description;
    font-family: "main-paragraph-font", Arial, Helvetica, sans-serif;
  }
}

.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  
  &__header {
    color: $font-color-stats-number;
    font-family: "stat-heading-font", Arial, Helvetica, sans-serif;
  }

  &__description {
    color: $font-color-stats-description;
    font-family: "stat-number-font", Arial, Helvetica, sans-serif;
  }
}
